<div class="modal-header">
    <h4 class="modal-title pull-left">Add Device</h4>
    <button type="button" class="close pull-right" aria-label="Close"  >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
         <div class ="row">
          <div class ="col-md-6">
              <div class="form-group">
                  <label for="lastname" class="control-label">Device Id</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Device Id">
              </div>
              <div class="form-group">
                  <label for="lastname" class="control-label"><span class ="red">*</span> Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Name">
              </div>
              <div class="form-group">
                  <label for="lastname" class="control-label"><span class ="red">*</span> Protocol</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Protocol">
              </div>
             
          </div>
          <div class ="col-md-6">
              <div class="form-group">
                  <label for="lastname" class="control-label">Description</label>
                  <textarea type="text" class="form-control" id="lastname" placeholder="Description" rows="9"></textarea>
              </div>
            </div>
            <div class ="col-md-12" style ="padding:0">
            <div class ="col-md-5">
                <div class="form-group">
                    <label for="lastname" class="control-label">Metadata Key:</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Key">
                </div></div>
                <div class ="col-md-7">
                    <div class="form-group col-md-10">
                        <label for="lastname" class="control-label">Metadata Value:</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Value" >

                    </div>

                    <button class="btn col-md-2 theme_table_button" style ="        margin-top: 28px;
                    width: 7%;
                    padding: 16px !important;"><i class="fa fa-plus" style ="position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;"></i></button>
                </div></div>
        </div>
           
   <div class="modal-footer">
    <button type="button" class="btn theme_table_button"  >Close</button>
    <button type="button" class="btn theme_table_button"  >Save</button>

  </div>