<div class="main-content" *ngIf ="ComandDetail">
    <div class="container-fluid">
        <div class="row">
          <div class ="col-md-12">
            <div class ="header_top col-md-12">
              <div class ="col-md-6" style ="margin-top: 12px;">
                 <span>Command Prototype Name:</span> {{ComandDetail.name}}  
              </div>
              <div class ="col-md-6" > 
                <div class="col-md-3" style="float: right">
                    <a href="" class=" " style="color:white;"> <div class="material-switch ">
                      <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"  [(ngModel)]="data.check" [disabled]="data.check" (change)="changeFreeze()"/>
                      <label for="someSwitchOptionPrimary" class="label-primary"></label>
                  </div><br>is Freeze</a> 
                </div> 
              </div> 
            </div> 
          </div>
          <div class ="col-md-12 "  >
            <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
            padding-right: 0px;">
                <div class ="header">
                    Command DETAILS
                    
                </div>
                <div class ="col-md-12 bodyHeader">
                  
                <div class ="col-md-6 border_top_right" style ="    padding-left: 0;">
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Command Id</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.tenantId}}
                              
                            </div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Command Name</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.name}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Date</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.createdOn}}</div>
                        </div>
                  </div>
                      
                 
                  
  
                </div>
                <div class ="col-md-6 border_top" > 
                    <div class ="col-md-12" style ="margin-top: 10px;">
                        <div class ="  detailheader"   >
                         <strong>Description </strong>
                        </div>
                        <div class ="  detailheader"   >
                            {{ComandDetail.description}}
                           </div> 
                    </div>
                       
                  </div>
              </div>
  
            </div>
          </div>
  
  <div class ="col-md-6 "   style ="padding-right: 6px;" >
    <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
    padding-right: 0px;">
        <div class ="header">
            Command Field Details
            
        </div>
        <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;">
          
           <div class ="col-md-12">
              <div class ="col-md-4 detailheader"   >
                  <div >Command Field Name</div>
              </div>
                <div class ="col-md-8 detailheader ">
                      <div >Command Field Value</div>  
                    <div> 
                    </div>
                </div>
          </div>
           
          
  
         
      </div>
  
    </div>
  </div>
  <div class ="col-md-6 " style ="padding-left: 6px;"  >
      <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
      padding-right: 0px;">
          <div class ="header">
                Event Tags
              
          </div>
          <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;">
            
            
             
            
  
           
        </div>
  
      </div>
    </div>
          </div></div></div>