<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class ="col-md-12">
            <div class ="header_top col-md-12">
              <div class ="col-md-6" style ="margin-top: 12px;">
                 <span>Device Name:</span> {{ComandDetail.name}}  
              </div>
              <div class ="col-md-6" >
                <div class="col-md-3">
 
                </div>
                <div class="col-md-2">
                    <a href="" class=" " style="color:white;"  (click)="migrate(ComandDetail)"> <i class="fa fa-cloud-upload material-icons" aria-hidden="true"   ></i><br>Migrate</a>

                </div>
                <div class="col-md-4">
                    <a   class=" " style="color:white;" (click)="changeStatus(ComandDetail)"> <i class="fa fa-check-square-o material-iconsnew" aria-hidden="true"  ></i><br>Change Status</a> 
                </div>
                <div class="col-md-3">
                    <a href="" class=" " style="color:white;"  (click)="addField(ComandDetail)"> <i class="fa fa-plus material-icons" aria-hidden="true"  ></i><br>Add Field</a> 
                </div> 
              </div> 
            </div> 
          </div>
          <div class ="col-md-12 "  >
            <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
            padding-right: 0px;">
                <div class ="header">
                    DEVICE DETAILS
                    
                </div>
                <div class ="col-md-12 bodyHeader">
                  
                <div class ="col-md-6 border_top_right" style ="    padding-left: 0;">
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Device Id</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.tenantId}}                              
                            </div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Device Name</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.name}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Date</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.createdOn | date}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Protocol</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.protocol}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >HardWare Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.hardwareType}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Product Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.productType}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Unit Type</div>
                      </div>
                        <div class ="col-md-8 detailKey ">
                            <div>{{ComandDetail.unitType}}</div>
                        </div>
                  </div>
                  <div class ="col-md-12">
                      <div class ="col-md-4 detailheader"   >
                          <div >Device X509 Certificate</div>
                        </div>
                        <div class ="col-md-8 detailKey ">
                            <div></div>
                          </div>
                  </div>
                  

                </div>
                <div class ="col-md-6 border_top" > 
                    <div class ="col-md-12" style ="margin-top: 10px;">
                        <div class ="  detailheader"   >
                         <strong>Description </strong>
                        </div>
                        <div class ="  detailheader"   >
                             {{ComandDetail.description}}
                           </div> 
                    </div>
                    <div class ="col-md-12" style ="margin-top: 24px;">
                        <div class ="  detailheader"   >
                            <div > <strong>Template Information</strong></div>
                          </div>
                          
                    </div>
                    <div class ="col-md-12">
                        <div class ="col-md-4 detailheader"   >
                            <div >Device Template Id</div>
                          </div>
                          <div class ="col-md-8 detailKey ">
                              <div>CTOS-NX30-1631F233-DF63-B811-02FBD27310F1</div>
                            </div>
                    </div>
                    <div class ="col-md-12">
                        <div class ="col-md-4 detailheader"   >
                            <div >Command Template</div>
                          </div>
                          <div class ="col-md-8 detailKey ">
                              <div>CTOS-NX30-1631F233-DF63-B811-02FBD27310F1</div>
                            </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>

<div class ="col-md-6 "   style ="padding-right: 6px;" >
    <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
    padding-right: 0px;">
        <div class ="header">
            Standard Attribute Details
            
        </div>
        <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;">
          
           <div class ="col-md-12">
              <div class ="col-md-4 detailheader"   >
                  <div >Latitude</div>
              </div>
                <div class ="col-md-8 detailKey ">
                    <div> 
                    </div>
                </div>
          </div>
           
          

         
      </div>

    </div>
  </div>
  <div class ="col-md-6 " style ="padding-left: 6px;"  >
      <div class ="col-md-12 dashbox card" style ="margin-top: 23px;     padding-left: 0px;
      padding-right: 0px;">
          <div class ="header">
              Custom Attribute Details
              
          </div>
          <div class ="col-md-12 bodyHeader border_top_right" style ="    padding-left: 0;">
            
            
             
            
  
           
        </div>
  
      </div>
    </div>
          </div></div></div>